
    <form>
        <fieldset>
            <legend>Please send us your thoughts</legend>
			<div class="input-form">
            <div class="input-details">
	            <div class="form-box">
                	<input type="text" id="user-name" placeholder="name">
            	</div>

	            <div class="form-box">
	                <input type="text" id="user-email" placeholder="email address">
	            </div>
	
	            <div class="form-box">
	                <input type="text" id="user-subject" placeholder="subject">
	            </div>
            </div>

            <div class="input-message">
		        <div class="form-box">
	                <textarea id="user-message" placeholder=""></textarea>
	            </div>
            </div>
			</div>

            <div class="submit-form">
	            <div class="form-box">
                	<input class="select" type="submit" id="submit" value="submit">
            	</div>
            </div>
        </fieldset>
    </form>
