
    <article class="article-primary">
        <h2>What are GMOs</h2>

        <figure>
            <img src="./images/gmo-00001.jpg" alt="Genetically Modified Foods">

            <figcaption>This cabbage looks nothing like it's wild relatives</figcaption>
        </figure>

        <p>Genetically Modified Organisms (GMOs) are difficult to define. This is one reason it is so controversial to do things like label products as genetically modified. There is an argument to be made that we began genetically modifying our food 30 000 years ago when the earliest agricultural settlements popped up in the Fertile Crescent (Modern day Iran and Iraq). We have come a long way since those early days of making hybrids by selective breeding. Now we are getting right into the DNA of our food. Sometimes this may be removing a genome that makes a plant vulnerable to root rot. In other instances, we have spliced genes between species. It is this interspecies genetic manipulation that people are often referring to when they talk about “Frankenfoods”.</p>
    </article>

    <div class="article-secondary">
        <article>
            <h2>GMO Safety</h2>

            <figure>
                <img src="./images/gmo-00002.jpg" alt="Genetically Modified Foods">

                <figcaption>Currently, the most common GMOs are grains</figcaption>
            </figure>

            <p>Genetically Modified Organisms are the most rigorously tested food product we have ever produced. Government agencies have green-lighted several GMO products for human consumption. There is though, debate around the safety of consuming such products. Those against GMO’s say they simply haven’t been around long enough for us to know the long-term effects of consuming them. Advocates of GMO’s point out that the same can be said for a lot of things that we use in our daily life. Some state that GMO’s may be healthier than their counterparts. That does make some sense. If a bean for example is modified to be insect and drought resistant, we use less water and insecticides in agricultural production.</p>
        </article>

        <article>
            <h2>The Politics of GMO</h2>

            <figure>
                <img src="./images/gmo-00003.jpg" alt="Genetically Modified Foods">

                <figcaption>You can't tell GMO food by looking at it</figcaption>
            </figure>

            <p>The politics of GMO’s are muddy. The common narrative presented to the public is that on one side you have industrialist wanting to maximize profit no matter what the cost to the flora and fauna of the world. On the other side are people with a general mistrust of any form of genetic modification or the regulatory bodies that are responsible for deciding what is, and is not available for public consumption. For the time being, food activists are rarely invited to the policy making table. This is unfortunate, but understandable. A lot of the evidence they use is anecdotal or “what if” based. There is a big danger in not having more public discourse around GMO’s and it has nothing to do with food safety, it has to do with ownership. The way the law works currently, GMO’s are owned by corporations. There is a good chance that within a few decades the entire food supply chain will be in the hands of a few multi-nationals.</p>
        </article>
    </div>
